.App{
  background-color: #fafafa;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto 0px;/*margin-bottom的负值等于footer高度*/
}

.Top{
  margin: 0;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: #e6f4ff;
}
#topLogo{
  padding-left: 100px;
  margin: 10px;
  width: 100;
  height: 100;
  float: left;
}
#topSearch{
  padding-left: 20px;
  padding-right: 50px;
}
.TopSpace{
  width:300px;
}
.push{
  height: 100%;
  clear:both;
  background-color: #fafafa;
}
.foot{
  width: 100%;
  background-color: #91caff;
  padding-top: 20px;
  height: 120px;
  clear:both;
}
.slogan{
  width:100%;
  background-color: #91caff;
  padding: 0px;
  margin-top: 5px;
}
.links{
  background-color: #91caff;
  margin-bottom: 20px;
}
.paragraph{
  text-indent: 1.5rem;
  align-self: flex-start;
}

html,body,#root{
	height: 100%;
  margin:0;
  padding:0;
  
}


.login{
  display: table;
  margin:0 auto;
  padding-top: 200px;
  height: 400px;
}
.topMenu{
  background-color:#bae0ff
}
.form{
  margin: 0 auto;
}

